@page "/"


<div class="card mt-5">
	<div class="card-header text-center">
		<h1 class="display-1 fw-bold">Arr, Matey!</h1>
	</div>
	<div class="card-body">
		<p class="card-text text-center display-6">
			Are ye ready t' hunt some booty?
			<br />
			Beware fer thar are many dangers ahead!
		</p>
	</div>
</div>