@page "/map"

<div class="map">

	<a href="challenge/1" class="map-item">
	</a>

	<a href="challenge/2" class="map-item">
	</a>

	<a href="challenge/3" class="map-item">
	</a>

	<a href="challenge/4" class="map-item">
	</a>
</div>